<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>There are three types of Directives as below:</li>
        <li>Component Directivess</li>
        <li>Attribute Directivess</li>
        <li>Structured Directivess</li>
        </ol>
        <hr>
        <!-- <button class="btn btn-primary" (click)="showSecrete =!showSecrete">Display Details</button> -->
        <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
        <p *ngIf="showSecret">show password=tuna</p>
        <div 
          *ngFor="let logItem of log"
          [ngStyle]="{backgroundColor:logItem >=5 ? 'blue' : 'transparent'}"
          [ngClass]="{'white-text': logItem >=5}"
         > {{ logItem }}</div>
    </div>
  </div>
 </div>



